body {
    display: flex;
    flex-direction: row-reverse;
    font-family: Verdana, Tahoma, sans-serif;
    justify-content: center;
}

nav {
    padding-top: 30px;
    width: 300px;
    background-color: rgb(196, 217, 245);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 
        0 3px 1px -2px rgb(0 0 0 / 12%), 
        0 1px 5px 0 rgb(0 0 0 / 20%);
}

nav form {
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
}

.searchField {
    border-bottom: 2px solid rgb(221, 68, 17);
    background-color: rgb(196, 217, 245);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px 0;
}

.searchField:focus {
    outline: none;
}

.submitBtn {
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border: none;
    background-color: rgb(221, 68, 17);
    color: #EEE;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.submitBtn:active {
    box-shadow: inset 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.recent {
    margin: 40px 15px;
}

h3 {
    font-size: 1.5em;
}

.searchHistory li {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: rgb(221, 68, 17);
    color: #EEE;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.searchHistory li:active {
    box-shadow: inset 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
    flex-basis: 66%;
}

.title {
    font-size: 3em;
    text-align: center;
}

.curWeather {
    margin: 40px 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(196, 217, 245);
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.hidden {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.curWeather ul {
    padding-bottom: 10px;
}

.curWeather ul li {
    line-height: 2em;
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
}

.dayCard {
    padding: 10px;
    background-color: rgb(196, 217, 245);
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.dayCard h4 {
    text-align: center;
}

.dayCard li {
    line-height: 1.5em;
}